<div class="abouting">
    <div class="container">
        <h2 class="text-center">
            It’s Not About Where You Go,<br> It’s About Who You Have Beside You </h2>
        <div class="row">
            <div class="col ">
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We will see how this trip will be very fun, exciting, interesting and safe. We, Just A Trip, are here as a tourism service in East Nusa Tenggara, especially in Labuan Bajo, Sumba, and Flores who are ready to be a buddy like your family and the best for your trip. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Since 2015, we have been trusted by many people to carry out tourism activities and provide travel services with the concept of sustainable ecotourism. We are here to provide travel services on land and marine tourism in several eastern parts of Indonesia and even plan to go to Raja Ampat, Papua. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">It is indeed a very happy thing to have received a positive response from the community with the increasing number of facilities and also extraordinary new destinations with various destinations that have been prioritized by the Indonesian Ministry of Tourism. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We continue to be committed and progress without stopping, even we are ready to face challenges confidently and professionally. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Just A Trip believes that a well-planned trip is a successful trip. That is why, you will get the right experience for your needs which will make it the best experience for you tourists and adventurers. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We are ready to meet all your travel needs so you can enjoy all the amazing sights and unforgettable experiences. Our choice of professional partners allows you to enjoy a reliable and trusted service. You can always count on Just A Trip. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">From the start of your trip, to your arrival and to your safe return home, Just A Trip will be there to help you and always provide the best recommendations for everything you need. </p>
                <p style="text-align: justify; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We are here always ready to stand by to accompany and also bring happiness to you as our travel companions. </p>
                <p style="text-align: justify;" class="text-center">We want to travel the amazing East of Indonesia with you. Let’s travel together and get lost in amazing places. – Just A Trip – </p>

            </div>

        </div>
        <img src="images/about.jpeg" alt="about.jpeg" width="100%" height="700px">
    </div>

</div>