{{ partial:components/sections/header_secondary }}

<div class="testimoning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Read Our Customer Testimonials</h2>
                <p class="p-heading">Our clients are our partners and we can not imagine a better future for our company without helping them reach their objectives</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="media">
            <img src="images/testimonial-2.jpg" class="align-self-start mr-3" alt="..." style="width: 70px">
            <div class="media-body">
                <h5 class="mt-0">Posisi gambar di atas</h5>
                Contoh isi konten media object. Media object bisa digunakan sebagai kolom komentar seperti pada contoh ini. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

        <br />
        <hr>
        <br>

        <div class="media">
            <img src="images/testimonial-1.jpg" class="align-self-start mr-3" alt="..." style="width: 70px">
            <div class="media-body">
                <h5 class="mt-0">Posisi gambar di atas</h5>
                Contoh isi konten media object. Media object bisa digunakan sebagai kolom komentar seperti pada contoh ini. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

        <br />
        <hr>
        <br>

        <div class="media">
            <img src="images/testimonial-3.jpg" class="align-self-start mr-3" alt="..." style="width: 70px">
            <div class="media-body">
                <h5 class="mt-0">Posisi gambar di atas</h5>
                Contoh isi konten media object. Media object bisa digunakan sebagai kolom komentar seperti pada contoh ini. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

        <br />
        <hr>
        <br>

        <div class="media">
            <img src="images/testimonial-3.jpg" class="align-self-start mr-3" alt="..." style="width: 70px">
            <div class="media-body">
                <h5 class="mt-0">Posisi gambar di atas</h5>
                Contoh isi konten media object. Media object bisa digunakan sebagai kolom komentar seperti pada contoh ini. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

    </div>
</div>