<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>JUST A TRIP <br>
                            <!--<span id="js-rotating">Jalan, Makan, Holiday</span>-->
                        </h1>
                        <h2>Your Travel Buddy</h2>
                        <p class="p-heading p-large">ARE YOU READY TO DISCOVER Indonesia Eastern?
                            <br> Once you have traveled, the voyage never ends, but is played out over and over again in the quietest chambers. The mind can never break off from the journey.
                        </p>
                        <a class="btn-solid-lg page-scroll" href="https://beacons.ai/booking.info.justatrip/">Tour</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->