<!-- Header -->
<header id="header" class="header" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('{{hero:background_images}}') center center no-repeat;">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>{{ hero:heading }} <br>
                            <!--<span id="js-rotating">Jalan, Makan, Holiday</span>-->
                        </h1>
                        <h2>{{ hero:sub_heading }}</h2>
                        <p class="p-heading p-large">{{ hero:content }}
                        </p>
                        <a class="btn-solid-lg page-scroll" href="{{hero:cta_url}}">{{ hero:cta_text }}</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->