
<!-- <div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Find Your Travel Package <br> in Labuhan Bajo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               
                <div class="card">
                    <div class="card-image">
                        <a href="index.blade.php"> <img class="img-fluid" src="images/package/OverlandFlores.jpg" alt="alternative"></a>
                    </div>
                </div>
             
                <div class="card">
                    <div class="card-image">
                        <a href=""> <img class="img-fluid" src="images/package/Road-Trip-Sumba.jpg" alt="alternative"></a>
                    </div>
                </div>
      
                <div class="card">
                    <div class="card-image">
                        <a href=""><img class="img-fluid" src="images/package/Sailing-Komodo.jpg" alt="alternative"></a>
                    </div>
                </div>
 
            </div> 
        </div>
    </div> 
</div>  -->


<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Find Your Travel Package <br> in Labuhan Bajo</h2>
            </div>
        </div>
        <div class="row">


            <div class="col-lg-12">

            {{ collection:packages limit="3"}}
                
                <div class="card">
                    <div class="card-image">
                        <a href="{{slug}}">
                            <img class="img-fluid" src="{{cover_images:0}}" alt="alternative">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ title }}</h3>
                        <p>{{ description }}</p>
                        <ul class="list-unstyled li-space-lg">
                            {{ intenerary }}

                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">{{ value }}</div>
                            </li>

                            {{ /intenerary }}
                        </ul>
                        <p class="price">Starting at <span>Rp {{ base_price }}</span></p>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="{{slug}}">DETAILS</a>
                    </div> 
                </div>

                
            {{ /collection:packages }}

            </div> 
        </div>
    </div>
</div> 
